<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link href="../css/common.css" rel="stylesheet" type="text/css"/>
      <link href="../css/doc.css" rel="stylesheet" type="text/css"/>
   </head>
   <body class="apexenum mdinfo hideprivate">
      {{>header}}
      <h1 class="objectName"> {{nature this}} - {{root.name}}</h1>
      <div class="hierarchy">
         <!-- TODO: Hierarchy -->
         {{hierarchy this}}
      </div>
      <div class="separator"></div>
      <section class="overview">
		   <div class="definition">
            {{root.accessModifier}}
            enum
            <b>{{root.name}}</b>
         </div>
      </section>
      <section class="values" id="values">
         <h2>Values:</h2>
         {{#each root.values}}
            <h3>{{this.name}}</h3>
            {{#if this.jdComment}}<span>{{this.jdComment.text}}</span>{{else}}<span><i>No description</i></span>{{/if}}
         {{/each}}
      </section>
   </body>
</html>