<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <link href="../css/common.css" rel="stylesheet" type="text/css"/>
      <link href="../css/doc.css" rel="stylesheet" type="text/css"/>
   </head>
   <body class="apexenum mdinfo hideprivate">
      {{>header}}
      <h1 class="objectName"> {{nature this}} - {{root.name}}</h1>
      <div class="separator"></div>
      <section class="overview">
		   <div class="definition">
            {{root.accessModifier}}
            enum
            <b>{{root.name}}</b>
         </div>
         <div class="description">
            {{#if root.jdComment}}
               <div class="text">
                  {{root.jdComment.text}}
               </div>
               <div class="annotations">
                  {{#each root.jdComment.annotations}}
                     <div class="annotation">
                        <span class="annlabel">
                           <!-- TODO: Translate known annotations -->
                           {{~#this~}}
                              {{this.name}}&nbsp;{{#if this.param}}{{this.param}}{{/if}}:
                           {{/this}}
                        </span>
                        <span class="anndesc">{{this.explanation}}</span>
                     </div>

                  {{/each}}
               </div>
            {{/if}}
         </div>
      </section>
      <section class="values" id="values">
         <h2>Values:</h2>
         {{#each root.values}}
            <h3>{{this.name}}</h3>
            {{#if this.jdComment}}<span>{{this.jdComment.text}}</span>{{else}}<span><i>No description</i></span>{{/if}}
         {{/each}}
      </section>
   </body>
</html>